<div class="courses-header">
    <h1>Courses</h1>
    <app-button *ngIf="editable" buttonText="Add course" [routerLink]="['/course/add']"></app-button>
</div>

<app-search inputPlaceholder="Search courses..." (onClick)="onSearchClick($event)"></app-search>

<app-course-list 
    [courses]="courses"
    [editable]="editable" 
    (onShow)="onShowClick($event)"
    (onEdit)="onEditClick($event)"
    (onRemove)="onRemoveClick($event)">
</app-course-list> 

<app-info *ngIf="courses.length === 0 && editable && !isSearch" 
title="Your list is empty" 
text="Please use the 'Add new course' button to add your first course">
    <app-button buttonText="Add new course" [routerLink]="['/course/add']"></app-button>
</app-info>

<app-info *ngIf="courses.length === 0 && !editable && !isSearch" 
title="Your list is empty" 
text="You don't have courses">
</app-info>

<app-info *ngIf="courses.length === 0 && isSearch" 
title="Your list is empty" 
text="You don't have courses that pass search criteria">
</app-info>






