<h1>Search component example:</h1> 
<app-search inputPlaceholder="Example placeholder"></app-search>

<h1>Button component example:</h1> 
<app-button buttonText="Example"></app-button>

<h1>Header component example:</h1> 
<app-header>
    <span style="margin-right: 20px;">Dzmitry</span>
    <app-button buttonText="Logout"></app-button>
</app-header>

 <h1>Info component example:</h1>   
<app-info title="Your list is empty" text="Please use the 'Add new course' button to add your first course">
    <app-button buttonText="Add new cource"></app-button>
</app-info>

<h1>Course card component example:</h1> 
<app-course-card 
    [course]="courses[0]">
    <app-button buttonText="Show course"></app-button>
</app-course-card>

<h1>Course list component example:</h1>
<app-course-list 
    [courses]="courses"
    [editable]="true" 
    (onShow)="onShowId($event)"
    (onEdit)="onShowId($event)"
    (onRemove)="onShowId($event)">

</app-course-list> 
<h2>Course list component clicked button cardId example:</h2>
<h3>{{selectedCourseId}}</h3>

<h1>Confirm modal window example:</h1>
<app-confirm-modal-window title="ExampleTitle" message="Example Message" #exampleModal></app-confirm-modal-window>
<app-button buttonText="Show confirm modal" [confirmWindow]="exampleModal" (onClick)="onButtonClick()"></app-button>
<h3>Dialog confirmed:</h3>
<p>{{dialogConfirmed}}</p>
