header {
    display: block;
    margin: 5px;
    height: 70px;
    padding-left: 10px;
    padding-right: 10px;
}

.header-logo {
    display: inline-block;
    width: 10%;
    vertical-align: middle;
}

.header-content {   
    display: inline-block; 
    height: 100%;
    width: 90%;    
    margin-top: auto;
    margin-bottom: auto;
    text-align: right;    
}