.search {
    width: 100%;
    border-style: solid;
    border-color: #3dc3ec;
    border-radius: 5px;
}

.form-container {
    width: 100%;
}

form {
    width: 100%;
}

input {
    width: 90%;
}

app-button {
    margin-left: 20px;
    width: 10%;
}